.btn {
    margin: 10px;
}

#quiz-card button {
    text-align: left;
    font-size: 14pt;
    height: 50px;
    width: 100%;
    outline: auto;
}

#quiz-card button:hover {
    height: 50.5px;
    box-shadow: inset 0 0 3px 3px rgb(170, 170, 170);
}

#quiz-card .btn-info:hover {
    height: 50.5px;
    box-shadow: inset 0 0 3px 3px rgb(49, 151, 182);
}

#leaderboard {
    font-size: 14pt;
    height: 50px;
    outline: auto;
}

#leaderboard:hover {
    height: 50.5px;
    box-shadow: inset 0 0 3px 3px rgb(49, 151, 182);
}